@{
    ViewBag.Title = "Home Page";
    
}

<!DOCTYPE html>
<html>
    <head>
        <title>Appl NET: @ViewBag.Title </title>
    </head>
    <body>
        <div>
            <h2>@ViewBag</h2>
        </div>
    </body>
</html>